@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');
body {
  background-color: #282a36;
  color: #bd93f9;
  font-family: 'Jetbrains Mono', monospace;
  padding: 25px;
}
